<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="secretKey" value="1ABC0987FDC" />
	</appSettings>

	<connectionStrings>
		<add name="ConexionSQL" connectionString="Data Source=EMCSERVERHP\SQLEXPRESS;Initial Catalog=FacturacionEMC;User Id=sa;Password=1234santiago"/>
	</connectionStrings>
	
</configuration>
